@{
    Layout = "~/Views/Shared/_Blank.cshtml";
    ViewData["Title"] = "Home Page";
}

<div class="col-xl-4 col-lg-4 col-md-6 col-12">
 <!-- Card -->
 <div class="card card-hover ">
    <a href="blog-single.html">
    <img src="../assets/images/blog/blogpost-2.jpg" class="img-fluid  rounded-top-md" alt=""></a>
    <!-- Card Body -->
    <div class="card-body">
       <a href="#" class="badge bg-info mb-3">Courses</a>
       <h3><a href="blog-single.html" class="text-inherit">
          How to become modern Stack Developer in 2020
          </a>
       </h3>
       <p>Lorem ipsum dolor sit amet, accu msan in, tempor dictum nequrem ipsum...</p>
       <!-- Media Content -->
       <div class="row align-items-center g-0 mt-4">
          <div class="col-auto">
             <img src="../assets/images/avatar/avatar-7.jpg" alt="" class="rounded-circle avatar-sm me-2">
          </div>
          <div class="col lh-1">
             <h5 class="mb-1">Reva Yokk</h5>
             <p class="fs-6 mb-0">September 05, 2020</p>
          </div>
          <div class="col-auto">
             <p class="fs-6 mb-0">20 Min Read</p>
          </div>
       </div>
    </div>
 </div>
</div>
