@{
    Layout = "~/Views/Shared/_Blank.cshtml";
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - project</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/fontawesome.min.css" integrity="sha512-xX2rYBFJSj86W54Fyv1de80DWBq7zYLn2z0I9bIhQG+rxIF6XVJUpdGnsNHWRa6AvP89vtFupEPDP8eZAtu9qA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/fontawesome.min.css" integrity="sha512-xX2rYBFJSj86W54Fyv1de80DWBq7zYLn2z0I9bIhQG+rxIF6XVJUpdGnsNHWRa6AvP89vtFupEPDP8eZAtu9qA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/regular.min.css" integrity="sha512-YoxvmIzlVlt4nYJ6QwBqDzFc+2aXL7yQwkAuscf2ZAg7daNQxlgQHV+LLRHnRXFWPHRvXhJuBBjQqHAqRFkcVw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />

</head>

<body style="text-align:center; margin:0;padding:0; box-sizing:border-box;">
    <div >
        <div  class="bg-image mt-0 pt-0" style=" text-align:center; background-image: url('https://2.bp.blogspot.com/-jvHg7Zv61GA/W8MrFPlkiMI/AAAAAAAACBQ/JTKBCUGKeA4nWlfonZZBCrAGCgKbXXuUwCEwYBhgL/s1600/School%2BAssembly2.jpg');height: 100vh">
    <main role="main" class="pb-3">
        <div style="text-align:center" class="position-absolute top-50 start-50 translate-middle">
            <h1 class="display-5 text-white font-weight-bold h-50 d-inline-block">Welcome To The Student Report Management System</h1>
            <div class="button-lgn">
                <button class="btn btn-success">  <a class="nav-link text-white" asp-area="" asp-controller="Auth" asp-action="Login">Login</a></button>
                <button class="btn btn-success">  <a class="nav-link text-white" asp-area="" asp-controller="Auth" asp-action="Signup">Signup</a></button>
            </div>
        </div>
    </main>
</div>
    </div>

</body>
</html>
